<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
     <!-- Esto evita la petición del favicon -->
    <link rel="icon" href="data:,">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/products">Productos</a> |
            <a href="/realtimeproducts">Tiempo Real</a> |
            <a href="/home">Inicio</a>
        </nav>
        <hr>
        {{{body}}}
    </div>
</body>
</html>